<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
				<key>dateExpires</key>
				<string>19/12/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AAPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CleverTapSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommonUISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PagedHorizontalView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoidingSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskCoreSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskProviderSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZendeskSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6AACFB13DD34628878FECA79AFBC11A6D7E0C12</string>
						<key>dateExpires</key>
						<string>19/12/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7H749SZ6XX</string>
						<key>name</key>
						<string>PlayerzPot Media Private Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7H749SZ6XX.com.ppm</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:playerzpot.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7H749SZ6XX</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PlayerzPot.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>92d422b8-23a7-4bea-be4b-0586c1822915</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ppm</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7H749SZ6XX</string>
				<key>name</key>
				<string>PlayerzPot Media Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
